<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Smile - Antonym Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheet/justified-nav.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <div class="row">
	   <div class="col-lg-8">
        <h3 class="text-muted">Double Bees</h3></div>
		<div class="col-lg-4">
		<h3 class="span4 offset8 signin-align">
						<span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
					</h3></div>
		</div>
        <ul class="nav nav-justified">
          <li><a href="/main">Main</a></li>
          <li class="active"><a href="/antonym">Antonym Template</a></li>
          <li><a href="/simple">Simple Template</a></li>
        </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Project Smile - Antonym Template</h1>
        <p class="lead">A template for replacing many words in the original text with their antonyms:</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <table class="table table-bordered">
			<thead>
				<tr>
					<th>S/N</th>
					<th>Original Word</th>
					<th>Antonym:</th>
				</tr>
			</thead>
			<tbody>
				<tr><td>1</td><td>sad</td><td >happy</td></tr>
				<tr><td>2</td><td>happy</td><td>sad</td></tr>
				<tr><td>3</td><td>long</td><td>short</td></tr>
				<tr><td>4</td><td>short</td><td>long</td></tr>
				<tr><td>5</td><td>angry</td><td>calm</td></tr>
				<tr><td>6</td><td>calm</td><td>angry</td></tr>
				<tr><td>7</td><td>pretty</td><td>ugly</td></tr>
				<tr><td>8</td><td>ugly</td><td>pretty</td></tr>
				<tr><td>9</td><td>thin</td><td>fat</td></tr>
				<tr><td>10</td><td>fat</td><td>thin</td></tr>
				<tr><td>11</td><td>clever</td><td>stupid</td></tr>
				<tr><td>12</td><td>stupid</td><td>clever</td></tr>
				<tr><td>13</td><td>hot</td><td>cold</td></tr>
				<tr><td>14</td><td>cold</td><td>hot</td></tr>
				<tr><td>15</td><td>difficult</td><td>easy</td></tr>
				<tr><td>16</td><td>easy</td><td>difficult</td></tr>
				<tr><td>17</td><td>courteous</td><td>rude</td></tr>
				<tr><td>18</td><td>rude</td><td>courteous</td></tr>
				<tr><td>19</td><td>win</td><td>lose</td></tr>
				<tr><td>20</td><td>lose</td><td>win</td></tr>
				<tr><td>21</td><td>pass</td><td>fail</td></tr>
				<tr><td>22</td><td>fail</td><td>pass</td></tr>
				<tr><td>23</td><td>big</td><td>small</td></tr>
				<tr><td>24</td><td>small</td><td>big</td></tr>
				<tr><td>25</td><td>expensive</td><td>cheap</td></tr>
				<tr><td>26</td><td>cheap</td><td>expensive</td></tr>
				<tr><td>27</td><td>slow</td><td>fast</td></tr>
				<tr><td>28</td><td>fast</td><td>slow</td></tr>
				<tr><td>29</td><td>deep</td><td>shallow</td></tr>
				<tr><td>30</td><td>shallow</td><td>deep</td></tr>
				<tr><td>31</td><td>here</td><td>there</td></tr>
				<tr><td>32</td><td>there</td><td>here</td></tr>
				<tr><td>33</td><td>high</td><td>low</td></tr>
				<tr><td>34</td><td>low</td><td>high</td></tr>
				<tr><td>35</td><td>old</td><td>young</td></tr>
				<tr><td>36</td><td>young</td><td>old</td></tr>
			</tbody>
		</table>
      </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
