<html>
	<head>
		<!-- right on top of the page -->
		<title>
			Project Smile - Home
		</title>
		<style>
			body {
				background-color: #FFFFCC;
			}
			.logo {
				text-align: center;
				font-family: 'Shadows Into Light', cursive;
				font-size: 3em;
				color: #ff0000;	
			}
			.header {
				text-align: center;
				font-size: 2em;
				color: #0000ff;	
			}
			.body {
				text-align: center;
				font-size: 1em;
				color: #00FF00;	
			}
			.content {
				clear: both;
			}
		</style>
	</head>
	<!-- main body -->
	<body>
		<div>
			<h1 class = "logo";>
				Project Smile
			</h1>
			<p class = "body";>
				Project Smile by Double-Bees will kick off an era of crazy text formatting which can destroy all existing standard definitions!
			</p>
		</div>
		<div>
			<h2 class = "header";>
				Original Text:
			</h2>
			<div id = "Original Text">
				<script type = "text/javascript">
					function changeWords () {
						var sadTemplate = [];
						sadTemplate["once"] = "FOREVER";
						sadTemplate["watch"] = "PEER";
						sadTemplate["end"] = "BEGIN";
						var originalText = document.getElementById("oriText").value;
						var textArray = originalText.split(" ");
						var changedText = "";
						for (i = 0; i < textArray.length; i++) {
							var oriWord = textArray[i];
							var word = sadTemplate[oriWord];
							if (word != undefined) {
								changedText = changedText + word + " ";
							} else {
								changedText = changedText + oriWord + " ";
							}
						}
						alert("The changed text is: " + changedText);
					}
				</script>
				<form onSubmit = "JavaScript:changeWords()">
					<label>
						Enter original text here: 
						<textarea required name = "text" id = "oriText" rows = "10" cols = "50" placeholder = "Enter original text that you wish to change here.">
						</textarea>
						<input type = "submit" value = "change">
					</label>
				</form>
			</div>
		</div>
		<div>
			<h3 class = "header";>
				Template:
			</h3>
			<div id = "Template Name"; class = "body";>
				SAD TEMPLATE
			</div>
		</div>
	</body>
</html>