<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Smile - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheet/justified-nav.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>

  </head>

  <body>

    <div class="container">

      <div class="masthead">
	   <div class="row">
	   <div class="col-lg-10">
        <h3 class="text-muted">Double Bees</h3></div>
		<div class="col-lg-2">
		<h3 class="span3 offset9 signin-align">
						<span> <font color="grey">Login with</font> <a href="/main"><img src="http://icons.iconarchive.com/icons/danleech/simple/24/google-icon.png"></a></span>
					</h3></div>
		</div>
        <ul class="nav nav-justified">
          <li><a href="/main">Main</a></li>
          <li><a href="/antonym">Antonym Template</a></li>
          <li><a href="/simple">Simple Template</a></li>
        </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Project Smile</h1>
        <p class="lead">Project Smile by Double-Bees will kick off an era of crazy text formatting which can destroy all existing standard definitions!</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>About</h2>
          <p>Project Smiles is a tool for users to magically transform a piece of text into one with a whole new meaning base on their wishes. This project aims to let people quickly and efficiently paraphrase words automatically by applying a set of templates to the text. </p>
        </div>
        <div class="col-lg-4">
          <h2>How to Start</h2>
          <p><b>First</b>, you have to log in with your Google account. </p>
          <p><b>Secondly</b>, select the template of your choosing by clicking on the radio buttons.</p>
          <p><b>Thirdly</b>, type in the text box, or copy and paste in a piece of text and click "Change".</p>
          <p><b>Lastly</b>, watch the magic work!</p>
       </div>
	   <div class="col-lg-4">
          <h2>Sample Texts:</h2>
          <p><b>For Antonym Template:</b> A sad man can never be happy because he is stupid enough to realise that this text is a clever text. One which is too deep for understanding.</p>
          <p><b>For Simple Template:</b> An enraged man is always irritated and annoyed by any small provocations. He may have been a cheerful and joyous man, but he is now a dejected and bitter man.</p>
       </div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
