<html>
	<head>
		<meta name="viewport" content = "width=device-width, initial-scale=1">
		<!-- right on top of the page -->
		<title>
			Project Smile - Home
		</title>
		<style>
			body {
				background-color: #FFFFCC;
			}
			.logo {
				text-align: center;
				font-family: 'Shadows Into Light', cursive;
				font-size: 3em;
				color: #ff0000;	
			}
			.header {
				text-align: center;
				font-size: 2em;
				color: #0000ff;	
			}
			.body {
				text-align: center;
				font-size: 1em;
				color: #00FF00;	
			}
			.content {
				clear: both;
			}
		</style>
	</head>
	<!-- main body -->
	<body>
		<div>
			<h1 class = "logo";>
				Project Smile
			</h1>
			<p class = "body";>
				Project Smile by Double-Bees will kick off an era of crazy text formatting which can destroy all existing standard definitions!
			</p>
		</div>
		<div>
			<h2 class = "header";>
				Original Text:
			</h2>
			<div id = "Original Text">
				<script src = "javascripts/change.js"></script>
				<script src = "javascripts/variables.js"></script>
				<script src = "javascripts/noTemplate.js"></script>
				<script src = "javascripts/sadTemplate.js"></script>
				<script src = "javascripts/simpleTemplate.js"></script>
				<form onSubmit = "changeWords(template)">
					<label>
						Enter original text here: 
						<textarea required name = "text" id = "oriText" rows = "10" cols = "50" placeholder = "Enter original text that you wish to change here."></textarea>
						<input type = "submit" value = "change">
					</label>
				</form>
			</div>
		</div>
		<div>
			<h3 class = "header";>
				Template:
			</h3>
			<form name="myForm" id = "Template Name" class = "body">
				<input type="radio" name="myRadios"  value="1" onchange = "tempChange(1)" >SAD TEMPLATE<br>
				<input type="radio" name="myRadios"  value="2" onChange = "tempChange(2)" >SIMPLE TEMPLATE
			</form>
		</div>
	</body>
</html>
