<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Smile - Main</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheet/justified-nav.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <div class="row">
	   <div class="col-lg-8">
        <h3 class="text-muted">Double Bees</h3></div>
		<div class="col-lg-4">
		<h3 class="span4 offset8 signin-align">
						<span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
					</h3></div>
		</div>
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Main</a></li>
          <li><a href="#">Sad Template</a></li>
          <li><a href="#">Simple Template</a></li>
        </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Project Smile</h1>
        <p class="lead">Project Smile by Double-Bees will kick off an era of crazy text formatting which can destroy all existing standard definitions!</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-8">
			<h2 class = "header";>
				Original Text:
			</h2>
			<div id = "Original Text">
				<form onSubmit = "changeWords(template)">
					<label>
						<textarea style="color: yellow; background-color: black" required name = "text" id = "oriText" rows = "10" cols = "80" placeholder = "Enter original text that you wish to change here."></textarea>
						<div><input style="color: white; background-color: grey" type = "submit" value = "change"></div>
					</label>
				</form>
			  </div>
			</div>
        <div class="col-lg-4">
          <h3 class = "header";>
				Template:
			</h3>
			<form name="myForm" id = "Template Name" class = "body">
				<input type="radio" name="myRadios"  value="1" onchange = "tempChange(1)" >SAD TEMPLATE<br>
				<input type="radio" name="myRadios"  value="2" onChange = "tempChange(2)" >SIMPLE TEMPLATE
			</form>
       </div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src = "javascripts/change.js"></script>
	<script src = "javascripts/variables.js"></script>
	<script src = "javascripts/noTemplate.js"></script>
	<script src = "javascripts/sadTemplate.js"></script>
	<script src = "javascripts/simpleTemplate.js"></script>
  </body>
</html>
