<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Smile - Simple Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheet/justified-nav.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <div class="row">
	   <div class="col-lg-8">
        <h3 class="text-muted">Double Bees</h3></div>
		<div class="col-lg-4">
		<h3 class="span4 offset8 signin-align">
						<span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
					</h3></div>
		</div>
        <ul class="nav nav-justified">
          <li><a href="/main">Main</a></li>
          <li><a href="/antonym">Antonym Template</a></li>
          <li class="active"><a href="/simple">Simple Template</a></li>
        </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Project Smile - Simple Template</h1>
        <p class="lead">A template for simplifying the original text:</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <table class="table table-bordered">
			<thead>
				<tr>
					<th>S/N</th>
					<th>Original Word</th>
					<th>Simplify With:</th>
				</tr>
			</thead>
			<tbody>
				<tr><td>1</td><td>enraged</td><td rowspan="8">angry</td></tr>
				<tr><td>2</td><td>annoyed</td></tr>
				<tr><td>3</td><td>irritated</td></tr>
				<tr><td>4</td><td>furious</td></tr>
				<tr><td>5</td><td>outraged</td></tr>
				<tr><td>6</td><td>fierce</td></tr>
				<tr><td>7</td><td>mad</td></tr>
				<tr><td>8</td><td>troubled</td></tr>
				<tr><td>9</td><td>melancholic</td><td rowspan="10">sad</td></tr>
				<tr><td>10</td><td>depressed</td></tr>
				<tr><td>11</td><td>crestfallen</td></tr>
				<tr><td>12</td><td>sorrowful</td></tr>
				<tr><td>13</td><td>bitter</td></tr>
				<tr><td>14</td><td>heartbroken</td></tr>
				<tr><td>15</td><td>dejected</td></tr>
				<tr><td>16</td><td>gloomy</td></tr>
				<tr><td>17</td><td>mournful</td></tr>
				<tr><td>18</td><td>forlorn</td></tr>
				<tr><td>19</td><td>cheerful</td><td rowspan="13">happy</td></tr>
				<tr><td>20</td><td>delighted</td></tr>
				<tr><td>21</td><td>excited</td></tr>
				<tr><td>22</td><td>joyful</td></tr>
				<tr><td>23</td><td>joyous</td></tr>
				<tr><td>24</td><td>glad</td></tr>
				<tr><td>25</td><td>blissful</td></tr>
				<tr><td>26</td><td>gleeful</td></tr>
				<tr><td>27</td><td>contented</td></tr>
				<tr><td>28</td><td>jolly</td></tr>
				<tr><td>29</td><td>ecstatic</td></tr>
				<tr><td>30</td><td>elated</td></tr>
				<tr><td>31</td><td>overjoyed</td></tr>
			</tbody>
		</table>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
